.more-screen .icon-row {
    margin-top: 35px;
}

.more__header {
    background-color: #b1daff;
}

.weather {
    margin-top: 40px;
    border-top: var(--main-border);
    padding: 100px 10px;
    /* background-image: url("https://64.media.tumblr.com/39eafd219c0ed0933c400284cc8bea23/tumblr_nguq215zCJ1rc7agso1_1280.png"); */
    background-image: url("https://www.animal-crossing.com/new-horizons/assets/img/home/explore-photo-2-2x.jpg");
}

.weather__region {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 600;
}

.weather__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather__column-left {
    display: flex;
    align-items: center;
}

.weather__column-left i {
    color: var(--yellow);
}

.weather__column-left:not(i) {
    color: white;
}

.weather__degree {
    font-size: 29px;
    margin: 0 8px;
}

.weather__info {
    display: flex;
    flex-direction: column;
}

.weather__info span:last-child,
.weather__column .fa-location-crosshairs {
    opacity: 0.8;
}